.main {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width:768px) {
    .main {
        padding-top: 100px;
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1280px) {
    .main {
        width: 1280px;
    }
}

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000004d;
    z-index: 10;
}