.main {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .main {
        padding-top: 100px;
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .main {
        width: 1280px;
    }
}

table {
    border-collapse: collapse;
    width: 101%;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.noData {
    text-align: center;
    color: #999;
    padding: 16px;
    font-size: 18px;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }

    tbody tr:nth-child(even),
    tbody tr:nth-child(odd) {
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        font-size: 12px;
        padding: 4px;
    }

    .noData {
        font-size: 16px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.item {
    margin: 5px;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #c0bfbf;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover,
.button:focus{
    background-color: #434e57;
    transform: scale(1.05);
}

.buttonDelete {
    display: inline-block;
    padding: 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #ee606d;
    color: white;
    cursor: pointer;
}

.buttonDelete:hover,
.buttonDelete:focus{
    background-color: #c82333;
    transform: scale(1.05);
}

.buttonAdd{
    padding: 5px 15px;
    background-color: #25d7fc8f;
    border: 1px solid #0000ff47;
    border-radius: 5px;
    min-width: 150px;
    margin-left: auto;
    cursor: pointer;
}

.buttonAdd:hover,
.buttonAdd:focus {
    background-color: #57adbf8f;;
    box-shadow: 0 0 8px;
}

.success{
    color: green;
}

.noCheck{
    color: red;
}

.btnContainer{
    width: 50%;
}

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000004d;
    z-index: 10;
}